%h4 Deixa'ns un comentari

= simple_form_for [@post, @comment], :remote => true do |f|
  =f.input :name, :label => "Nom"
  =f.input :email, :label => "Correu electrònic (opcional)"
  =f.input :body, :label => "Contingut"
  =f.input :humanizer_answer, :label => @comment.humanizer_question + " (pregunta de seguretat anti-spam)"
  =f.hidden_field :humanizer_question_id
  
  =f.button :submit, "Enviar", :class => "big"
  
