%b New comment
= simple_form_for [:admin, @post, Comment.new] do |f|
  =f.input :name, :label => "Name"
  =f.input :email, :label => "E-mail"
  =f.input :body, :label => "Body"
  =f.button :submit, "Post"
