/* Eliminate the comment by fading it out */
$('#comment_#{@comment.id}').fadeOut();
/* Replace the count of comments */
$("#comments_count").html("<p>◕ #{pluralize(@post.comments.count, 'comentari')} a l\'\entrada:");