@import "partials/one_col";
@import "compass/css3/box-shadow";
@import "compass/css3/font-face";
@import "compass/css3/text-shadow";



// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-grid-width: 950px;
$blueprint-grid-margin: 10px;

// If you change your grid column dimensions
// you can make a new grid background image from the command line like this:
// compass grid-img 30+10x16

$main-font-family: "champagne";
$title-font-family: "walkway_oblique";
$bold-title:"walkway_bold";

$main-font-color: #d9cdc2;
$brown-font-color: #27211c;
$back-brown-color: #27211c;
$wheat-font-color: #e3b778;

$main-font-size: 1.3em;
$title-font-size: 1.5em;

//Extra fonts.
@include font-face("champagne", font-files("/fonts/champagne.ttf", truetype));
@include font-face("walkway_oblique", font-files("/fonts/walkway_oblique.ttf", truetype));
@include font-face("walkway_bold", font-files("/fonts/walkway_ultra_bold.ttf", truetype));


.clear {
  clear:both;
  height: 1em;
  overflow:hidden;
}

.separator {
  height: 1em;
}

.line_separator{
  background-image: url("/images/line_space2.png");
  background-repeat: repeat-x;
  margin-top: 4em;
  padding-bottom: 4em;
  clear:both;
  overflow:hidden;
}

body{
  background-image: url("/images/bg.png");
	margin: 0 auto;
	font-family: $main-font-family;
	font-size: $main-font-size;
	color: $main-font-color;
	text-align: justify;
	h1{
	  font-size: 4em;
	  line-height: 0;
	}
	h3{
	  font-size: 2.5em;
	}
	h4{
	  font-size: 1.5em;
	}
  h1,h2{
    font-family: $bold-title;
    color: $brown-font-color;
    letter-spacing: 0.1em;
  }
  h3,h4{
    font-family: $title-font-family;
    letter-spacing: 0.06em;
    color: white;
  }
  h5{
    font-family: $title-font-family;
    letter-spacing: 0.1em;
    font-weight: normal;
    color: white;
  }
  p{
    font-family: $main-font-family;
    color: $main-font-color;
    letter-spacing: 0.08em;
    line-height: 1.8em;
    text-indent: 2em;
  }
  li {
    list-style: none;
    font-family: $main-font-family;
    color: $main-font-color;
  }
  a{
    text-decoration: none;
    letter-spacing: 0.1em;
    color: $main-font-color;
    font-family: $main-font-family;
  }
  #container{
    @include box-shadow(#847e66, 0, 0, 29px,-5px);
  }
}