// Only apply the blueprint form styles to forms with
// a class of "bp". This makes it easier to style
// forms from scratch if you need to.

form.bp {
  @include blueprint-form; }


// . . . . . . . . . . . . . . . . . . . .  Forms from static pages

#form{
  h2{
    color: $dark-brown-color;
    border-bottom: 1px dotted $light-brown-color;
  }
  border: 1px dashed $blue-color;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;

  fieldset#basic_information{
    border: none;
    padding:0;
    input{
      font-family: $main-font-family;
      font-size: 1.2em;
      letter-spacing: 0.05em;
      border: 1px solid #ccc;
      background-color: #def1ff;
      color: #666;
    }
    label{
      text-align: right;
      font-weight: normal;
      line-height: 3em;
      clear: left;
      display: block;
      float: left;
      padding-right: 1em;
      width: 8em;
      color: #666;
    }
    label.checkbox{
      font-family: $title-font-family;
      font-size: $title-font-size;
      color: $strong-blue-color;
      display: inline;
      float: none;
      line-height: 2em;
      span{
        font-size: .5em;
      }
    }
    input.checkbox{
      margin-left: 0;
    }
    #message{
      font-family: $main-font-family;
      background-color: #def1ff;
      font-size: 1.2em;
      letter-spacing: 0.05em;
      color: #666;
      border: 1px solid #ccc;
      width: 21em;
      height: 8em;
    }
    #button{
      color: $strong-blue-color;
      border: 1px solid $blue-color;
      float: right;
      margin-top: 3em;
      height: 2em;
      width: 6em;
    }
  }
}


// . . . . . . . . . . . . . . . . . . . .  Forms from  partials pages (side bar)

#side_form{
  color: red;
  h2{
    color: $dark-brown-color;
    border-bottom: 1px dotted $light-brown-color;
    margin-bottom: 1em;
    margin-top: 2em;
  }
  fieldset{
    border: none;
    label.checkbox{
      font-family: $title-font-family;
      font-size: 1.2em;
      color: $strong-blue-color;
      line-height: 2em;
      padding-right: 0;
    }
    input{
      font-family: $main-font-family;
      font-size: 1.2em;
      letter-spacing: 0.05em;
      border: 1px solid #ccc;
      background-color: #def1ff;
      color: #666;
      width: 15em;
    }
    input.checkbox{
      width: 1em;
      margin-bottom: 1em;
    }
    label{
      text-align: right;
      font-weight: normal;
      line-height: 1em;
      padding-right: 11em;
      color: #666;
    }
    textarea#message{
      font-family: $main-font-family;
      background-color: #def1ff;
      font-size: 1.2em;
      letter-spacing: 0.05em;
      color: #666;
      border: 1px solid #ccc;
      width: 15em;
      height: 8em;
    }
  }
}
