//. . . . . . . . . . . . . . . . . .  MENU

#menu {
  background-image: url("/images/bg_menu.png");
  margin-top: 2em;
  width: 21.9em;
  height: 17.5em;
  position: absolute;
  z-index: 1;
  padding-top: 6.5em;
  padding-left: 2em;
  ul{
    margin-top: 2.3em;
  }

  li{
    display:inline;
    padding-right: 2.5em;
  }
}

//. . . . . . . . . . . . . . . . . .  MAIN

#main {
  @include basics;
  padding: 4em 0 2em 1em;
  .image{
    margin-left: 2em;
  }
}


//. . . . . . . . . . . . . . . . . .  FOOTER

#footer {
  @include basics;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  text-align: center;
  .itnig {
    text-align: right;
  }
  li {
    display:inline;
    padding-left: 1em;
    padding-right: 1em;
  }
  li:last-child {
    border-left: solid 1px;
  }
}