// . . . . . . . . . . . . . . . .  HEADER

#header{
  background-image: url("/images/bg_header.png");
  background-repeat: no-repeat;
  //background-color: red;
  height: 22em;
  padding-top: 10em;
  margin-bottom: 4em;
  #menu{
    text-align: center;
    li{
      display: inline;
      padding-left: 2em;
      padding-right: 2em;
    }
    a{
      color: black;
      font-size: 1.3em;
      &:hover{
        border-bottom: 1px solid $gray-color;
        padding-bottom: .3em;
      }
    }
    .current {
      color: $blue-light-color;
      font-size: 1.5em;
      &:hover {
        border: none;
      }
    }
  }

/* Header image */
  #image {
    margin-top: 1.5em;
    margin-left: 6em;
  }

/* Link clickable area logo */

  #click_area {
    background-color: transparent;
    position: absolute;
    left: 11.3em;
    top: 3em;
    height: 5em;
    width: 11em;
  }
}


// . . . . . . . . . . . . . . . .  MAIN

p:first-child {
  color: $blue-strong-color;
  font-size: 1.5em;
  letter-spacing: .04em;
}

span {
  background-color: white;
  padding-left: .3em;
  padding-right: .3em;
}

.wrap {
  @include back_square;
  background-color: $blue-light-color;
  ul{
    margin-top: .5em;
    margin-left: 4em;
  }
}

.wrap2 {
  @include back_square;
  background-color: $blue-strong-color;
}

// . . . . . . . . . . . . . . . .  AREAS OF PRACTICE

#areas {
  p:first-child {
    color: $blue-strong-color;
    font-size: 1.1em;
    line-height: 1.5em;
  }
  ul {
    margin-top: 2em;
  }
}


// . . . . . . . . . . . . . . . .  FOOTER

#footer {
  background-color: $blue-strong-color;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  margin-top: 4em;
  p{
    color: white;
    font-size: 1em;
  }
  ul{
    margin-top: 1em;
    margin-bottom: 1em;
  }
  li {
    display: inline;
    border-right: 1px solid white;
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: 0.07em;
  }
  li:last-child {
    border: none;
  }
}
