#side_bar {
  #language_menu{
    background-color: $blue-color;
    border: 1px dashed $strong-blue-color;
    height: 2.5em;
    padding: .5em 1.5em 0.5em;
    p{
      float: left;
      color: white;
      font-family: $special-font;
      font-size: 2em;
      letter-spacing: 0.1em;
      padding-right: 1em;
    }
    a{
      margin-left: 1em;
      color: $strong-blue-color;
      &:hover{
        color: white;
      }
    }
  }
	#menu {
	  background-color: white;
    margin-bottom: 2em;
    padding-bottom: 1em;
    padding-top: 2em;
    a {
      color: $dark-brown-color;
      font-family: "Little";
      font-size: 2.2em;
      &:hover {
        color: $light-brown-color;
      }
    }
    ul {
      margin-right: 0;
      padding-left: 1em;
    }
  }

  #info_box {
    padding-top: 1em;
    p{
      margin-left: 1em;
      margin-right: 1em;
    }
    p:last-child{
      color: $strong-blue-color;
      margin-top: 2em;
    }
    .title{
      background-color: $blue-color;
      border: 1px dashed $strong-blue-color;
      padding-top: 1.5em;
      margin-bottom: 2em;
      margin-left: .5em;
      margin-right: .5em;
      h3{
        color: white;
        text-align: center;
      }
    }

/* ======================================================= */
/*                          Index                          */
/* ======================================================= */

    #side_home{
      background-image: url("/images/3_ducks.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      color: $dark-brown-color;
      margin: 1em;
      padding-bottom: 3em;
    }
  }
}
