body{
	margin: 0 auto;
	#container{
	  @include box-shadow(#ccc, 0, -29px, 25px, 1px);
		font-family: $main-font-family;
		text-align: justify;

// HEADER and MENU:
		#header{
			background-image: url("/images/back_header.jpg");
			background-repeat: repeat-x;
			color: $back-brown-color;
			height: 673px;
	    padding-top: 10px;
			text-align: center;
			h1{
				font-size: 3em;
				margin-bottom: 0;
			}

			p{font-size: 1.5em;}
			#menu{
  			background-image: url("/images/back_menu.png");
  			background-repeat: no-repeat;
  			background-position: center;
  	    height: 100px;
  	    margin-top: 20px;
  	    margin-bottom: 410px;
  			text-align: center;
  			ul{
  				padding-top: 40px;
  				margin-bottom:0;
  			}
  			li{
  				display: inline;
  				padding-right: 20px;
  			}
  			a{
  				color: #ebe77b;
  				text-decoration: none;
  				font-size: 1.3em;
  			}
  			.current{color: white;}
  		}
		}

// INFO BOX
		#info_box{
			background-color: $back-brown-color;
			color: $main-font-color;
  		font-size: $main-font-size;
  		padding-top: 30px;
  		padding-bottom: 80px;
			h1{
				color: white;
				font-family: $title-font-family;
				font-style: italic;
				padding-bottom: 20px;
				padding-top: 40px;
			}
			h2{
			  color: white;
			  font-style: italic;
				padding-bottom: 20px;
				padding-top: 40px;
			}

			p{ color: $main-font-color;}

			#first_paragraph{
			  color: $cream-font-color;
			  font-size: 1.3em;
			  font-weight: normal;
			}
			
//Contact
      #contact_info{
        margin-top: 20px;
        .contact_titles{
  			  p{
  			    color: $cream-font-color;
  			    font-size: 1.5em;
  			    margin-bottom: 0;
  			  }
  			}
  			.contact_answere{
  			  margin-left: 10px;
  			  margin-bottom: 40px;
  			  p{
  			    font-size: 1.2em;
  			    font-family: $title-font-family;
  			    margin-bottom: 0;
  			  }
  			  a{
  			    font-family: $title-font-family;
  			    color: $main-font-color;
  			    font-size: 1.2em;
  			    text-decoration: none;
  			  }
  			  a:hover{color: $cream-font-color;}
  			} 
      }
      #map_canvas{
 	      border: solid 1px white;
 	      outline: solid 2px #ccc;
       	height: 330px;
       	#infowindow{
       	  h3{
            border-bottom: 1px solid #ccc;
            font-size: 1em;
            margin-bottom: 5px;
            width: 170px;
          }
       		p{font-size: .8em;}
       	}
       #gmimap0{
       	  background-color: blue;
       	}
      }
		}

//FOOTER		

    #footer{
      background-color: #2f2721;
      height: 200px;
    }
	}
}
