// ........................... HEADER and MENU:
#header{
	background-image: url("/images/back_header.jpg");
	background-repeat: repeat-x;
	color: $back-brown-color;
	text-align: center;
	padding-top: 2em;
	height: 54.9em;
	
	p{
	  font-size: 1.5em;
	  color: $back-brown-color;
	}

	#menu{
		background-image: url("/images/back_menu.png");
		background-repeat: no-repeat;
		background-position: center;
    height: 8.5em;
    margin-bottom: 410px;
		text-align: center;
		ul{
			padding-top: 2.7em;
			margin-bottom:0;
		}
		li{
			display: inline;
			padding-right: 2em;
			padding-left: 2em;
		}
		a{
			color: #ebe77b;
			text-decoration: none;
			font-size: 2em;
		}
		.current{color: white;}
	}
}

// ........................... MAIN

#main{
	background-color: $back-brown-color;
	font-size: $main-font-size;
	padding-top: 5em;
	padding-bottom: 3em;
	a{
	  color: $main-font-color;
  }

  .intro{
     color: $wheat-font-color;
     font-size: 1.4em;
     line-height: 1.6em;
  }

  .read_more{
    a{
      color: $wheat-font-color;
      text-decoration: underline;
    }
  }
	.up_button{
	  background-image: url("/images/sub_services_list.png");
	  background-repeat: no-repeat;
	  text-align:center;
    height: 2.5em;
    margin-top: 1em;
    margin-left: 45em;
    padding-top: 0.5em;
    width: 6em;
	}

// ........................... Serveis

  #services{
    .subservices_list{
      background-image: url("/images/sub_services_list.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 15em;
      padding-left: 3em;
      padding-right: 2em;
      padding-top: 1em;
    }
    h5{
      color: white;
      font-size: 1.05em;
      padding-left: 4.7em;
      padding-top: 0.5em;
    }
    ul{
      text-align: center;
      padding-left: 1.5em;
      padding-right: 1em;
      margin-top: 3.5em;
    }
    ul.big_list{
      margin-top: 1em;
      padding-left: 1.5em;
      padding-right: 0.1em;
    }
    li{
      background-color: #d3cbc0;
      margin-bottom: 1em;
    }
    a{
      @include text-shadow(white, 1px, 0, 0);
      color: $brown-font-color;
      padding-bottom: 0.2em;
      padding-top: 0.2em;
    }
    li:hover{
      background-color: #d7c9b5;
    }
  }



// ........................... Contact
  #contact_info{
    p{
      text-indent: 1em;
      line-height: 1em;
      color: $wheat-font-color;
    }
    a{
      color: $wheat-font-color;
      &:hover{color: white;}
    }
  }

  #map_canvas{
    border: solid 1px white;
    outline: solid 2px #ccc;
   	height: 330px;
   	#infowindow{
   	  h3{
        border-bottom: 1px solid #ccc;
        font-size: 1em;
        margin-bottom: 5px;
        width: 33em;
      }
   	p{font-size: .8em;}
   	}
  }
}

// ........................... FOOTER

#footer{
  background-image: url("/images/back_footer.jpg");
  border-top: 3px solid #2F2721;
  font-family: $title-font-family;
  text-align: center;
  height: 20em;
  padding-bottom: 3em;
  li{
		border-right: 1px solid;
		font-size: 1.4em;
		color: white;
		letter-spacing: 0.05em;
    display: inline;
    padding-left: 1.5em;
    padding-right: 1.5em;
	}
	li:last-child{
	  border-right: none;
	}
	a{
	  color: $wheat-font-color;
	  text-decoration: none;
	  font-size: $title-font-size;
	  &:hover{color: white;}
	}

	#footer_title{
	  background-image: url("/images/back_title_footer.png");
	  background-repeat: no-repeat;
	  text-align: left;
    height: 6em;
    margin-bottom: 2em;
    padding-left: 1.5em;
    padding-top: 1.5em;
    h2{
      color: white;
      font-size: 1.7em;
    }
	}
}