@import "private_partials/one_col";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/layout/sticky-footer";
@import "compass/css3/border-radius";

// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set !blueprint_grid_width to a fixed value and unset !blueprint_container_size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;


$main-font-family: "Trebuchet MS","Arial","Helvetica", sans-serif;
$main-font-size: .9em;
$font-color: #333;
$title-font-family: "Hoefler Text","Garamond","Times", serif;
$title-font-size: 1.5em;
$link-font-color: #ccc;
$blue-itnig-link: #5E73A3;
$dark-blue: #353e5b;

.clearfix {
  @include clearfix;
}

.clear {
  clear:both;
  height: 2em;
  overflow:hidden;
}

.separator {
  clear:both;
  height: 2em;
  overflow:hidden;
}

.header_separator {
  clear:both;
  height: 1em;
  overflow:hidden;
}

.last_item_separator{
  clear:both;
  height: 15em;
  overflow:hidden;
}

.line_separation{
  background-image: url("/images/line_services.png");
  background-repeat: repeat-x;
  height:4em;
  margin-top:.5em;
  clear:both;
  overflow:hidden;

}

.footer_separator{
  padding-top: 6px;
  padding-bottom: 5px;
}

@mixin list_line{
  display:inline;
  list-style: none;
}

@mixin up_button{
  background-image: url("/images/back_up_button.png");
  background-position: right center;
  background-repeat: no-repeat;
  text-align: right;
  height: 23px;
  padding-top: 7px;
  padding-right: 6px;
  margin-top: 50px;
  margin-right: 29px;
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{ color:#3c181c;}
}