body {
	margin: auto;
	background-color: #CFCFCF;
	background-repeat: no-repeat;
	background-position: center top;
	#container{
		font-family: $main-font-family;
		font-size: $main-font-size;
		color: $font-color;
		
// LOGIN
		
		#login_box{
		  background-color: #F1F1F1;
      border: 2px solid #999999;
      padding-top: 40px;
      padding-bottom: 30px;
      margin-top: 100px;
      margin-left: 250px;
      p{
        margin-bottom: 20px;
        text-align: center;
      }
      input#user_login{
        border: 1px solid #BBBBBB;
        color: $font-color;
        text-align: center;
        font-size: 16px;
        height: 30px;
        padding: 2px;
        width: 275px;
      }
      input#user_password{
        border: 1px solid #BBBBBB;
        color: $font-color;
        text-align: center;
        font-size: 16px;
        height: 30px;
        padding: 2px;
        width: 275px;
      }
      input#user_submit{
        background-color: #000000;
        color: white;
        border: medium none;
        height: 25px;
        margin-bottom: 10px;
        width: 125px;
      }
      input#user_submit:hover{
        background-color: #666;
      }
		}

// BACKOFFICE
  
    #header{
      background-color: #555;
      color: #eee;
      font-size: 0.9em;
      margin-bottom: 30px;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      h1{
        color: #f1f1f1;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 12px;
      }
      a{color: #F1F1F1;}
      p{margin-bottom: 5px;}

      #upload_btn{
        input{
          background-color: black;
          border: medium none;
          color: #999999;
          margin-top: 9px;
          padding: 7px 15px;
        }
        input:hover{
          background-color:#222;
        }
      }
    }
    #main{
      background-color: #F1F1F1;
      border: 2px solid #999999;
      padding-top: 40px;
      padding-bottom: 20px;
      a{color: black; text-decoration: none;}
      a:hover{color: #999;}
      table{
        thead{
          background-color: #666;
          color: white;
          height: 30px;
          th:first-child{padding-left: 10px;}
        }
        tbody{
          td{
            border-top: 1px solid #CCCCCC;
            margin-bottom: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
          td:first-child{
            padding-left: 10px;
            padding-right: 30px;
            text-align: justify;
          }
          td:last-child{
            padding-left: 10px;
          }
        }
      }
    }

	}
}