/* Facebook widget */

.fb-like-box, .fan_box, .full_widget {
	background-color: lightblue !important;
	display: block !important;
	text-align: center !important;

	margin: 0 auto 15px !important;
	border: white !important;
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
}
.fan_box .connections .connections_grid{padding: 3px !important;}
.fan_box .connections_grid .grid_item{padding: 0 3px 8px 3px !important;}
.fan_box .full_widget .connect_top{background:transparent !important;}
