/* Facebook widget */

.fb-like-box, .fan_box, .full_widget {
	background-color: lightblue !important;
	display: block !important;
	text-align: center !important;
	margin: 0 auto 0 !important;
	border: white !important;
}

.fan_box .connections{padding: 5px 5px 0 5px !important;}
.fan_box .connections .connections_grid{padding: 3px !important;}
.fan_box .connections_grid .grid_item{padding: 0 3px 8px 3px !important;}
.fan_box .full_widget .connect_top{background:transparent !important;}

.fan_box, .connect_widget {
	-moz-border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
	border-radius: 15px !important;
}
