/*
Syntax error: Undefined mixin 'container'.
        on line 3 of /home/roger/code/encen/app/stylesheets/partials/_two_col.scss, in `container'
        from line 3 of /home/roger/code/encen/app/stylesheets/partials/_two_col.scss
        from line 1 of /home/roger/code/encen/app/stylesheets/partials/_base.scss
        from line 5 of /home/roger/code/encen/app/stylesheets/private.scss

1: // This import applies a global reset to any page that imports this stylesheet.
2: @import "blueprint/reset";
3: 
4: // To configure blueprint, edit the partials/base.sass file.
5: @import "partials/base";
6: 
7: // Import all the default blueprint modules so that we can access their mixins.
8: @import "blueprint";

Backtrace:
/home/roger/code/encen/app/stylesheets/partials/_two_col.scss:3:in `container'
/home/roger/code/encen/app/stylesheets/partials/_two_col.scss:3
/home/roger/code/encen/app/stylesheets/partials/_base.scss:1
/home/roger/code/encen/app/stylesheets/private.scss:5
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/import_node.rb:78:in `perform!'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/import_node.rb:64:in `_perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/import_node.rb:78:in `perform!'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/import_node.rb:64:in `_perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/warden-1.0.3/lib/warden/manager.rb:35:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:32:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/activerecord-3.0.4/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:12:in `cache'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:31:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/activerecord-3.0.4/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/activesupport-3.0.4/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/railties-3.0.4/lib/rails/rack/logger.rb:13:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/activesupport-3.0.4/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/actionpack-3.0.4/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/railties-3.0.4/lib/rails/application.rb:168:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/railties-3.0.4/lib/rails/application.rb:77:in `send'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/railties-3.0.4/lib/rails/application.rb:77:in `method_missing'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/railties-3.0.4/lib/rails/rack/log_tailer.rb:14:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/home/roger/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/home/roger/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/home/roger/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/home/roger/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:162:in `start'
/home/roger/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/home/roger/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:95:in `start'
/home/roger/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:92:in `each'
/home/roger/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:92:in `start'
/home/roger/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:23:in `start'
/home/roger/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:82:in `start'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/railties-3.0.4/lib/rails/commands/server.rb:65:in `start'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/railties-3.0.4/lib/rails/commands.rb:30
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/railties-3.0.4/lib/rails/commands.rb:27:in `tap'
/home/roger/.rvm/gems/ree-1.8.7-2010.02/gems/railties-3.0.4/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'container'.\A         on line 3 of /home/roger/code/encen/app/stylesheets/partials/_two_col.scss, in `container'\A         from line 3 of /home/roger/code/encen/app/stylesheets/partials/_two_col.scss\A         from line 1 of /home/roger/code/encen/app/stylesheets/partials/_base.scss\A         from line 5 of /home/roger/code/encen/app/stylesheets/private.scss\A \A 1: // This import applies a global reset to any page that imports this stylesheet.\A 2: @import \"blueprint/reset\";\A 3: \A 4: // To configure blueprint, edit the partials/base.sass file.\A 5: @import \"partials/base\";\A 6: \A 7: // Import all the default blueprint modules so that we can access their mixins.\A 8: @import \"blueprint\";"; }
