html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-size: 100.01%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.one_col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body.one_col #container #pre_header {
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
}
body.one_col #container #pre_header #menu_language {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
* html body.one_col #container #pre_header #menu_language {
  overflow-x: hidden;
}
body.one_col #container #pre_header #signin {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
* html body.one_col #container #pre_header #signin {
  overflow-x: hidden;
}
body.one_col #container #info_box {
  width: 790px;
  padding-left: 160px;
}
body.one_col #container #info_box #sign_in {
  width: 590px;
  padding-right: 40px;
  padding-left: 40px;
}
body.one_col #container #info_box #sign_in #title {
  width: 510px;
  padding-right: 40px;
  padding-left: 40px;
}
body.one_col #container #info_box #sign_in #user {
  width: 390px;
}
body.one_col #container #info_box #sign_in #pass {
  width: 390px;
}
body.one_col #container #errorExplanation {
  width: 590px;
  padding-right: 40px;
  padding-left: 40px;
}
body.one_col #footer {
  width: 950px;
  padding-left: 40px;
}
body.one_col #footer .contact_info {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
* html body.one_col #footer .contact_info {
  overflow-x: hidden;
}
body.one_col #footer .footer_menu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
* html body.one_col #footer .footer_menu {
  overflow-x: hidden;
}
body.one_col #footer .footer_services {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
* html body.one_col #footer .footer_services {
  overflow-x: hidden;
}
body.one_col #footer #itnig_link {
  width: 870px;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.clear {
  clear: both;
  height: 2em;
  overflow: hidden;
}

.separator {
  clear: both;
  height: 2em;
  overflow: hidden;
}

.header_separator {
  clear: both;
  height: 1em;
  overflow: hidden;
}

.last_item_separator {
  clear: both;
  height: 15em;
  overflow: hidden;
}

.line_separator {
  background-image: url("/images/line_services.png");
  background-repeat: repeat-x;
  height: 4em;
  margin-top: .5em;
  clear: both;
  overflow: hidden;
}

.footer_separator {
  padding-top: 6px;
  padding-bottom: 5px;
}

html, body {
  height: 100%;
}

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -284px;
}
#root #root_footer {
  height: 284px;
}

#footer {
  clear: both;
  position: relative;
  height: 284px;
}

body {
  margin: 0 auto;
  background-color: #efefef;
}

#container {
  -moz-box-shadow: #d4d3c9 0 -29px 25px 1px;
  -webkit-box-shadow: #d4d3c9 0 -29px 25px 1px;
  -o-box-shadow: #d4d3c9 0 -29px 25px 1px;
  box-shadow: #d4d3c9 0 -29px 25px 1px;
  text-align: justify;
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  font-size: 0.9em;
  color: #333333;
}
#container #pre_header {
  background-image: url("/images/back_menu_language.png");
  height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
#container #pre_header a {
  color: #5e73a3;
  text-decoration: none;
  font-size: .8em;
}
#container #pre_header a:hover {
  color: white;
}
#container #pre_header #menu_language li {
  display: inline;
  list-style: none;
  padding-left: 10px;
}
#container #pre_header #signin {
  text-align: right;
}
#container #menu {
  background-image: url("/images/back_menu.png");
  height: 89px;
  text-align: center;
  text-transform: uppercase;
}
#container #menu ul {
  margin-left: 25px;
  padding-top: 34px;
}
#container #menu li {
  display: inline;
  list-style: none;
}
#container #menu li#index a {
  padding-left: 35px;
  padding-right: 34px;
}
#container #menu a {
  color: #cccccc;
  text-decoration: none;
  padding-bottom: 40px;
  padding-top: 35px;
  padding-right: 25px;
  padding-left: 25px;
}
#container #menu a:hover {
  background-image: url("/images/hover.png");
  background-repeat: no-repeat;
  color: white;
}
#container #menu .current_page_item {
  background-image: url("/images/current_page.png");
  background-repeat: no-repeat;
  color: white;
}
#container #info_box {
  background-color: #f5f5f5;
  padding-top: 90px;
  padding-bottom: 90px;
}
#container #info_box #sign_in {
  background-color: #f0f0f0;
  outline: 1px solid #bababa;
  border: 3px solid #f9f9f9;
  padding-top: 10px;
  padding-bottom: 10px;
}
#container #info_box #sign_in #title {
  background-image: url("/images/sign_line.png");
  background-position: center bottom;
  background-repeat: repeat-x;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
#container #info_box #sign_in #title h2 {
  text-shadow: white 2px 1px 0;
  text-align: center;
  font-size: 2.5em;
  color: #181d28;
}
#container #info_box #sign_in #user {
  background-color: #d8d8da;
  height: 80px;
  padding-left: 10px;
  padding-top: 15px;
  margin-bottom: 30px;
  margin-left: 7em;
}
#container #info_box #sign_in #user label {
  margin-right: 4em;
}
#container #info_box #sign_in #pass {
  background-color: #d8d8da;
  height: 80px;
  padding-left: 10px;
  padding-top: 15px;
  margin-left: 7em;
}
#container #info_box #sign_in #pass label {
  margin-right: 1em;
}
#container #info_box #sign_in label {
  text-shadow: white 2px 1px 0;
  margin-left: 5px;
}
#container #info_box #sign_in input {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: medium none;
  color: #666666;
  font-size: 1em;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 240px;
  height: 27px;
}
#container #info_box #sign_in input#user_session_submit {
  background-image: url("/images/back_sign_btn.png");
  background-repeat: no-repeat;
  background-color: #F0F0F0;
  color: #999999;
  cursor: pointer;
  font-size: 0.9em;
  height: 43px;
  margin-left: 7em;
  margin-top: 40px;
  padding-bottom: 10px;
  padding-top: 3px;
  width: 32em;
}
#container #info_box #sign_in input#user_session_submit:hover {
  background-image: url("/images/back_sign_btn_hover.png");
  background-repeat: no-repeat;
  color: #444;
}
#container #info_box #errorExplanation {
  background-color: #bb383b;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
#container #info_box #errorExplanation h2 {
  color: white;
}
#container #info_box #errorExplanation ul {
  margin-left: 10px;
}
#container #info_box #errorExplanation ul li {
  list-style: none;
  font-size: 0.9em;
  color: #ffb1b1;
  list-style: none;
  margin-top: 3px;
}
#container #footer {
  background-image: url("/images/back_footer.png");
  font-size: 0.9em;
  height: 284px;
  padding-top: 30px;
  color: white;
}
#container #footer h2 {
  font-family: "Hoefler Text", "Garamond", "Times", serif;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 2.5em;
  color: #f9e19a;
  margin-bottom: 20px;
}
#container #footer li {
  list-style: none;
  padding: 3px 9px;
  margin-bottom: 5px;
}
#container #footer a {
  color: white;
  text-decoration: none;
}
#container #footer a:hover {
  color: #f9e19a;
}
#container #footer .contact_info {
  margin-right: 50px;
}
#container #footer .footer_menu {
  margin-right: 55px;
}
#container #footer .footer_services {
  margin-right: 55px;
}
#container #footer #address {
  margin-left: 30px;
  margin-top: -24px;
}
#container #footer .mail {
  margin-left: 30px;
  margin-top: -24px;
}
#container #footer #fax {
  margin-left: 30px;
  margin-top: -24px;
}
#container #footer img {
  margin-top: 5px;
}
