@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-size: 100.01%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.one_col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body.one_col #container #welcome {
  width: 470px;
}
body.one_col #container #login_box {
  width: 390px;
  padding-left: 40px;
  padding-right: 40px;
}
body.one_col #container #header {
  width: 830px;
  padding-left: 40px;
  padding-right: 40px;
}
body.one_col #container #main {
  width: 830px;
  padding-left: 40px;
  padding-right: 40px;
}
body.one_col #container #itnig_link {
  width: 950px;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

.separator {
  clear: both;
  height: 2em;
  overflow: hidden;
}

body {
  margin: auto;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center top;
  font-family: "Verdana";
}

#container {
  font-size: 0.9em;
  color: #444444;
}

#login-form {
  background-color: #DDD;
  width: 30em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: .5em;
  margin: auto;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}
#login-form input {
  margin-top: .4em;
  width: 93%;
  padding: .5em;
  font-size: 1.3em;
}
#login-form input[type=submit] {
  width: 10em;
  line-height: 1em;
  background-color: #666;
  color: #FFF;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #444444), color-stop(100%, #888888));
  background-image: -moz-linear-gradient(left top, #444444 0%, #888888 100%);
  background-image: linear-gradient(left top, #444444 0%, #888888 100%);
}
#login-form input[type=submit]:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #999999), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(left top, #999999 0%, #dddddd 100%);
  background-image: linear-gradient(left top, #999999 0%, #dddddd 100%);
  cursor: hand;
  cursor: pointer;
  color: #333;
}

#header {
  background-color: #555;
  color: #eee;
  font-size: 0.9em;
  margin-bottom: 30px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#header h1 {
  color: #f1f1f1;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 12px;
}
#header a {
  color: #F1F1F1;
}
#header p {
  margin-bottom: 5px;
}
#header #upload_btn input {
  background-color: black;
  border: medium none;
  color: #999999;
  margin-top: 9px;
  padding: 7px 15px;
}
#header #upload_btn input:hover {
  background-color: #222;
}

#main {
  background-color: #F1F1F1;
  border: 2px solid #999999;
  padding-top: 40px;
  padding-bottom: 20px;
}
#main a {
  color: black;
  text-decoration: none;
}
#main a:hover {
  color: #999;
}
#main table thead {
  background-color: #666;
  color: white;
  height: 30px;
}
#main table thead th:first-child {
  padding-left: 10px;
}
#main table tbody td {
  border-top: 1px solid #CCCCCC;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#main table tbody td:first-child {
  padding-left: 10px;
  padding-right: 30px;
  text-align: justify;
}
#main table tbody td:last-child {
  padding-left: 10px;
}
