@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-size: 100.01%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

@font-face {
  font-family: "geosans";
  src: local("☺"), url(/fonts/geosans.ttf) format('truetype');
}

.separator {
  height: 2em;
}

.clear {
  clear: both;
  height: 2em;
  overflow: hidden;
}

body {
  margin: 0 auto;
  font-size: 1em;
  background-color: white;
  font-family: "geosans";
  color: black;
  text-align: justify;
}
body #container {
  background-color: #f0f0f0;
}
body h1 {
  color: white;
  font-size: 2.5em;
  letter-spacing: 0.03em;
}
body p {
  line-height: 1.4em;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
  line-height: 1.5em;
}

#header {
  background-image: url("/images/bg_header.png");
  background-repeat: no-repeat;
  height: 22em;
  padding-top: 10em;
  margin-bottom: 4em;
  /* Header image */
  /* Link clickable area logo */
}
#header #menu {
  text-align: center;
}
#header #menu li {
  display: inline;
  padding-left: 2em;
  padding-right: 2em;
}
#header #menu a {
  color: black;
  font-size: 1.3em;
}
#header #menu a:hover {
  border-bottom: 1px solid #999999;
  padding-bottom: .3em;
}
#header #menu .current {
  color: #4e97c0;
  font-size: 1.5em;
}
#header #menu .current:hover {
  border: none;
}
#header #image {
  margin-top: 1.5em;
  margin-left: 6em;
}
#header #click_area {
  background-color: transparent;
  position: absolute;
  left: 11.3em;
  top: 3em;
  height: 5em;
  width: 11em;
}

p:first-child {
  color: #072237;
  font-size: 1.5em;
  letter-spacing: .04em;
}

span {
  background-color: white;
  padding-left: .3em;
  padding-right: .3em;
}

.wrap {
  color: white;
  border: .3em solid white;
  outline: 0.1em solid #999999;
  padding: 1em;
  margin-left: 4em;
  height: 13em;
  margin-top: 4em;
  background-color: #4e97c0;
}
.wrap h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: .3em;
}
.wrap ul {
  margin-top: .5em;
  margin-left: 4em;
}

.wrap2 {
  color: white;
  border: .3em solid white;
  outline: 0.1em solid #999999;
  padding: 1em;
  margin-left: 4em;
  height: 13em;
  margin-top: 4em;
  background-color: #072237;
}
.wrap2 h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: .3em;
}

#footer {
  background-color: #072237;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  margin-top: 4em;
}
#footer p {
  color: white;
  font-size: 1em;
}
#footer ul {
  margin-top: 1em;
  margin-bottom: 1em;
}
#footer li {
  display: inline;
  border-right: 1px solid white;
  padding-left: 1em;
  padding-right: 1em;
  letter-spacing: 0.07em;
}
#footer li:last-child {
  border: none;
}

form.bp label {
  font-weight: bold;
}
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
form.bp input.title {
  font-size: 1.5em;
}
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
form.bp select {
  margin: 0.5em 0;
}
form.bp fieldset {
  border: 1px solid #cccccc;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
form.bp textarea {
  width: 390px;
  height: 250px;
}

body.grid #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body.grid #header {
  width: 950px;
}
body.grid #main, body.grid #footer {
  width: 870px;
  padding-right: 40px;
  padding-left: 40px;
}
body.grid .one_second {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
* html body.grid .one_second {
  overflow-x: hidden;
}
