html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
	background: url("/images/paper.jpg") repeat;
}

html {
  font-size: 100.01%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body {
  line-height: 1.5;
  font-family: "Verdana", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
  color: #333333;
  font-size: 75%;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body h2 {
  font-size: 1.8em; /*2em*/
  margin-bottom: 0.75em;
}
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.50em; /*1.00*/
}
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body h6 {
  font-size: 1em;
  font-weight: bold;
}
body p {
  margin: 0 0 1.5em;
}
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

body a {
  text-decoration: none;
  color: #666666;
}
body a:visited {
  color: #666666;
}
body a:focus {
  color: #666666;
}
body a:hover {
  color: #333333;
}
body a:active {
  color: #666666;
}
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body strong {
  font-weight: bold;
}
body em {
  font-style: italic;
}
body dfn {
  font-style: italic;
  font-weight: bold;
}
body sup, body.bp sub {
  line-height: 0;
}
body .hint {
	float: right;
  font-style: italic;
	color: #666;
}
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body del {
  color: #666666;
}
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
body pre, body code, body tt {
  font: 1em "Verdana", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
body li ul, body li ol {
  margin: 0;
}
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
body ul {
  list-style-type: disc;
}
body ol {
  list-style-type: decimal;
}
body dl {
  margin: 0 0 1.5em 0;
}
body dl dt {
  font-weight: bold;
}
body dd {
  margin-left: 1.5em;
}
/* Pendent eliminar css taules */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
body th {
  font-weight: bold;
}
body thead th {
  background: #c3d9ff;
}
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
body tr.even td {
  background: #e5ecf9;
}
body tfoot {
  font-style: italic;
}
body caption {
  background: #eeeeee;
}
body .quiet {
  color: #666666;
}
body .loud {
  color: #111111;
}
body .clear {
  clear: both;
}
body .nowrap {
  white-space: nowrap;
}
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body .first {
  margin-left: 0;
  padding-left: 0;
}
body .last {
  margin-right: 0;
  padding-right: 0;
}
body .top {
  margin-top: 0;
  padding-top: 0;
}
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body .showgrid {
  background: url('/images/grid.png?1302885971');
}
body .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
body .error a {
  color: #8a1f11;
}
body .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #FFF6BF;
  color: #514721;
  border-color: #ffd324;
}
body .notice a {
  color: #514721;
}
div.flash.notice
{
  display: block;
  padding: 15px;
  border: 1px solid #3A991A;
  background-color: #ABD7A4;
  margin: 20px 10px;
  color: #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
	text-align: center;
}
div.flash.error
{
  display: block;
  padding: 10px;
  border: 1px solid red;
  background-color: #ff9999;
  margin: 20px 10px;
  color: #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
	text-align: center;
}

body .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
body .success a {
  color: #264409;
}
body .hide {
  display: none;
}
body .highlight {
  background: yellow;
}
body .added {
  background: #006600;
  color: white;
}
body .removed {
  background: #990000;
  color: white;
}

body .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
body div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
body div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
body hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
body hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
body form.inline {
  line-height: 3;
}
body form.inline p {
  margin-bottom: 0;
}

form.bp label {
  font-weight: bold;
}
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
form.bp input.title {
  font-size: 1.5em;
}
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
form.bp select {
  margin: 0.5em 0;
}
form.bp fieldset {
  border: 1px solid #cccccc;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
form.bp textarea {
  width: 390px;
  height: 250px;
}

body.two-col #container {
  width: 935px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
	background: #fff;
	-moz-box-shadow: #888 0 -29px 25px 1px;
  -webkit-box-shadow: #888 0 -29px 25px 1px;
  -o-box-shadow: #888 0 -29px 25px 1px;
  box-shadow: #888 0 -29px 25px 1px;
}

body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  width: 935px;
}
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
body.two-col #content {
  display: inline;
  float: right;
  margin-right: 15px;
  width: 625px;
}
* html body.two-col #content {
  overflow-x: hidden;
}

/* CSS provisional */

ol, ul, th, td {
  line-height: 18px;
  padding: 10px;
  margin-bottom: 10px;
	margin-left: 1.5em;
}

/* ======================================================= */
/*                         Header                          */
/* ======================================================= */

body.two-col #header {
  background-image: url("/images/header.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  height: 213px;
}

.menu{
	margin-bottom: 20px;
	background-color: #5f2B16;
	padding: 5px 0 5px;
}
.menu ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
} 

.menu ul li {
	margin-left: 0;
	margin-bottom: 0;
	padding: 2px 45px 5px;
	list-style: none;
	display: inline;
	font-size: 1.3em;
}
		
.menu ul li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}
.menu a {
  text-decoration: none;
  color: #FFFFFF;
}
.menu a:visited {
  color: #FFFFFF;
}
.menu a:focus {
  color: #FFFFFF;
}
.menu a:hover {
  color: #FFFFFF;
}
.menu a:active {
  color: #FFFFFF;
}

#content_wrap {
	margin: 0;
	overflow: hidden;
}

#page_bottom {
    height:30px;
    background:url("/images/bottom_shadow.png") repeat-x scroll 0 0 transparent;
		display: inline;
		float: left;
		width: 100%;
}

#footer {
  background: url("/images/footer.png") no-repeat scroll 50% 0 transparent;
	background-color:black;
  color: #888;
	height: 100%;
}

#footer .inner {
	display:block;
	padding: 10px 0 20px;
	overflow: hidden;
	width: 850px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

#footer_shadow {
  background:url("/images/footer_shadow.png") repeat-x scroll 0 0 transparent;
  height: 10px;
  font-size:0px;
  overflow:hidden;
  line-height: 10px;
}
#footer ul{
	list-style:none;
	margin:0 auto;
	padding: 0;
}
#footer .inner div {
	margin: 0 30px;
	overflow: hidden;
}
#footer #credits {
	text-align:center;
}
#footer #credits a{
	color: white;
}
#footer #credits a:hover {
	color: darkgray;
}
#main{
	width: 935px;
	margin: 0 auto;
	overflow: hidden;
}

/* ======================================================= */
/*                           Menu                          */
/* ======================================================= */

.rhm1{
	clear:both;
	position: relative;
	width:935px;
	height:64px;
	margin:0 auto;
	background:url(/images/rhm1_bg.jpg) repeat-x;		
}
/*.rhm1-left{
	background:url(/images/rhm1_l.jpg) no-repeat;
	width:15px;
	height:64px;
	float:left;
}
.rhm1-right{
	background:url(/images/rhm1_r.jpg) no-repeat;
	width:15px;
	height:64px;
	float:right;
}*/
.rhm1-bg{
	background:url(/images/rhm1_bg.jpg) repeat-x;
	height:64px;
}
.rhm1-bg ul{
	list-style:none;
	margin:0 auto;
	padding: 0;
}
.rhm1-bg li{
	float:left;
	list-style:none;
}
.rhm1-bg li a{
	float:left;
	display:block;
	color:#ffd1a6;
	text-decoration:none;
	font:12px 'Lucida Sans', sans-serif;
	font-weight:bold;
	padding:0 0 0 18px;
	height:64px;
	line-height:40px;
	text-align:center;
	cursor:pointer;	
}
.rhm1-bg li a span{
	float:left;
	display:block;
	padding:0 32px 0 18px;
}
.rhm1-bg li.current a{
	color:#fff;
	background:url(/images/rhm1_hover_l.jpg) no-repeat left 5px;
}
.rhm1-bg li.current a span{
	color:#fff;
	background:url(/images/rhm1_hover_r.jpg) no-repeat right 5px;
}
.rhm1-bg li a:hover{
	color:#fff;
	background:url(/images/rhm1_hover_l.jpg) no-repeat left 5px;
}
.rhm1-bg li a:hover span{
	color:#fff;
	background:url(/images/rhm1_hover_r.jpg) no-repeat right 5px;
}


/* ======================================================= */
/*                        Concerts                         */
/* ======================================================= */

#concerts tr.senar td,
#concerts thead tr th {
}	

#concerts td {
	color:#705f44;
	border-top: 2px solid #ede9e3;

	padding:.3em 1em;
	text-align:center;
	/*background:#FCF4E2;*/
	}				
#concerts th {
	font-weight:normal;
	text-align:left;

	padding:.3em 1em;
	}	
#concerts thead th {
	text-align:center;
	background:white;
	font:bold 1.35em/2em "Verdana", "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#a08762;
	}
table#concerts {
	width:90%;
	
	margin:1em auto;
	border-collapse:collapse;
	}
	
/* ======================================================= */
/*                          Posts                          */
/* ======================================================= */

#content #div-video {
	display: block;
	padding: 0 0 0 15px;
	margin: 15px auto 30px;
	
}
.meta {
    border-top:1px solid #f0f0f0;
    border-bottom:1px solid #f0f0f0;
		padding: 7px 0 7px 0;
    position:relative;
    overflow:hidden;
}
.meta .separater {
    padding: 0 4px;
}
.meta .comments {
		margin: 0 10px 0 10px;
    float:right;
}
.meta .date {
	vertical-align: middle;
	float: left;
}
.post {
	padding-bottom: 30px;	
	clear:both;
}
.fb_edge_widget_with_comment {
	float:right;
}

/* Will_paginate CSS */

.pagination {
	background: #f1f1f1;
	border: 1px solid #e5e5e5;
	text-align: center;
	padding: 1em;
	cursor: default; 
}
.pagination a, .pagination span {
	padding: 0.2em 0.3em; 
}
.pagination .disabled {
	color: #aaaaaa; 
}
.pagination .current {
	font-style: normal;
	font-weight: bold;
	background-color: #bebebe;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.5;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}
.pagination a {
	text-decoration: none;
	color: black; 
}
.pagination a:hover, .pagination a:focus {
		text-decoration: underline; 
}
.pagination a:visited {
	color: black;
}

/* Comments form */

#new_comment input {
    color: #333;
}
#new_comment {
    margin: 24px auto;
    overflow: hidden;
}
#new_comment p {
    margin: 0;
}
#new_comment .comment-notes {
    margin-bottom: 1em;
}
.form-allowed-tags {
    line-height: 1em;
}
.children #new_comment {
    margin: 0 48px 0 0;
}
h3#reply-title {
    margin: 18px 0;
}
#comments-list #new_comment {
    margin: 0 0 18px 0;
}
#comments-list ul #new_comment {
    margin: 0;
}
#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}
#new_comment label.required {
    color: #FF9C00;
    font-weight: bold;
}
#new_comment label {
    color: #888;
    font-size: 12px;
}
#new_comment input.string {
    margin: 0 0 9px;
		display:block;
		width:96%;
}
#new_comment textarea {
	display:block;
	width:96%;
}
#new_comment #comment_submit { 
    margin: 12px auto;
		width: 150px;
		display:block;
}
.button.big {
    font-size: 14px; 
}

.button.big.icon:before { top: 0; }


#new_comment input.string,
#new_comment textarea {
    background: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    padding: 10px;
}

/* Comments box */

.comment{
	display: block;
	background: #E8E8E1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0 10px 0;
	overflow:hidden;
}
.comment a{
	float:right;
}
.gravatar_comentaris{
	float: left;
	opacity: 0.6;
	padding: 0 15px 15px 0;
}
#comments, #comment-notice {
	margin-bottom: 1.25em;
	clear: both;
	padding-top: 10px;
}
#comments_count p{
	margin-top: 2em;
}


/* ======================================================= */
/*                        Sidebar                          */
/* ======================================================= */

/* Facebook widget */

.fb-like-box {
	display: block !important;
	text-align: center !important;
	margin: 0 auto 15px !important;
}

body.two-col #sidebar {
  display: inline;
  float: left;
}
#sb-content{
	padding: 15px 10px;
  width: 260px;
  background: url("/images/sidebar_divider.png") no-repeat scroll right top transparent;	
}
#sidebar-bottom {
	clear: both;
	background: url("/images/sidebar_divider_bottom.png") no-repeat scroll right top transparent;
	height: 30px;
}
* html body.two-col #sidebar {
  overflow-x: hidden;
}
#sidebar #div-audio {
	width: 90%;
	margin: 10px auto 15px auto;
	display: block;
	text-align: center;
	height: 24px;
}

#sidebar h3 img {
	vertical-align: middle;
	margin: 0 0 9px 10px ;
}

#sidebar #networks {
	margin: 10px 0 10px;
	text-align:center;
}

#sidebar #twitter-div{
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

/* PROMOCIO */

#promo {
	display: block;
	margin: 0 auto;
	margin-bottom: 17px;
}


/* NEWSLETTER */
#nwsltr{ 
	text-align: center;
	margin: 0 auto;
	width: 95%;
}
#nwsltr h5{
	font-style: italic;
	margin-bottom: 10px;
}
#nwsltr div.email {
	display: inline;
}

#nwsltr form {display:block; position:relative; text-align: center; padding:0 0 10px 0}

.button { 
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 0.5em 1em; 
    border: 1px solid #d4d4d4; 
    margin: 0;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    font:11px/normal sans-serif; 
    color: #333; 
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box; 
    /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

.button:hover,
.button:focus,
.button:active,
.button.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

#nwsltr input.email {
	font-size: 12px;
	width: 154px;
	padding: 3px 3px 3px 3px;
	font-family: Helvetica,Arial,freesans,sans-serif;
	border: 1px solid #ddd;
	border-top-color: #ccc;
	border-bottom-color: #eaeaea;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/*		NEWSLETTER SIMPLEMODAL DIALOG		*/
/* 					- basic style -					  */

.simplemodal-overlay {
    background: #333;
}
.simplemodal-container {
    border: 2px solid #162f54;
    background: #fff;
    width: 45%;
}
.simplemodal-close {
    border-bottom: 1px solid #fff;
    text-align: right;
		height: 25px;
    background: #162f54;
    color: #fff;
}
.simplemodal-data {
    padding: 0.7em;
}

	
/* ======================================================= */
/*                         Albums                          */
/* ======================================================= */

#tracks {
	margin-left: 30%;
}
.alb_body {
	text-align:justify;
}
td.cover {
	width: 150px;
	top: 0px;
	display: block;
}
td.desc { 
	vertical-align: top;
}


#tracks .doc {
	background: url("/images/albums/tracks/page.png") no-repeat center center transparent;
	padding: 4px 8px 4px 8px;
}

