html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-size: 100.01%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.one_col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body.one_col #pre_header {
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
}
body.one_col #pre_header #menu_language {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
* html body.one_col #pre_header #menu_language {
  overflow-x: hidden;
}
body.one_col #pre_header #signin {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
* html body.one_col #pre_header #signin {
  overflow-x: hidden;
}
body.one_col #menu {
  width: 710px;
  padding-left: 120px;
  padding-right: 120px;
}
body.one_col #main {
  width: 950px;
}
body.one_col #main #header {
  padding-left: 80px;
  padding-right: 80px;
}
body.one_col #main #header #header_photo {
  width: 790px;
}
body.one_col #main #home {
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
}
body.one_col #main #home .services_block {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
}
* html body.one_col #main #home .services_block {
  overflow-x: hidden;
}
body.one_col #main #aboutus {
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
}
body.one_col #main #aboutus .block {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
* html body.one_col #main #aboutus .block {
  overflow-x: hidden;
}
body.one_col #main #services {
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
}
body.one_col #main #info {
  padding-left: 40px;
  padding-right: 40px;
}
body.one_col #main #info #news_phrase {
  width: 790px;
  padding-left: 80px;
}
body.one_col #main #info #news_phrase #box_news {
  width: 630px;
  padding-left: 40px;
  padding-right: 40px;
}
body.one_col #main #info #news .block1 .image {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
}
* html body.one_col #main #info #news .block1 .image {
  overflow-x: hidden;
}
body.one_col #main #info #news .block1 .news_content_image {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 510px;
}
* html body.one_col #main #info #news .block1 .news_content_image {
  overflow-x: hidden;
}
body.one_col #main #info #news .block1 .news_content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
}
* html body.one_col #main #info #news .block1 .news_content {
  overflow-x: hidden;
}
body.one_col #main #info #news .block1 .date {
  width: 310px;
}
body.one_col #main #info .services_areas {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
}
* html body.one_col #main #info .services_areas {
  overflow-x: hidden;
}
body.one_col #main #info .services_list {
  width: 790px;
  padding-left: 40px;
}
body.one_col #main #info .contact_info {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
}
* html body.one_col #main #info .contact_info {
  overflow-x: hidden;
}
body.one_col #main #info #map_canvas {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 510px;
}
* html body.one_col #main #info #map_canvas {
  overflow-x: hidden;
}
body.one_col #footer {
  width: 950px;
  padding-left: 40px;
}
body.one_col #footer .contact_info {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
* html body.one_col #footer .contact_info {
  overflow-x: hidden;
}
body.one_col #footer .footer_menu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
* html body.one_col #footer .footer_menu {
  overflow-x: hidden;
}
body.one_col #footer .footer_services {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
* html body.one_col #footer .footer_services {
  overflow-x: hidden;
}
body.one_col #footer #itnig_link {
  width: 870px;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.clear {
  clear: both;
  height: 2em;
  overflow: hidden;
}

.separator {
  clear: both;
  height: 2em;
  overflow: hidden;
}

.line_separation {
  background-image: url("/images/line_services.png");
  background-repeat: repeat-x;
  height: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}

body {
  margin: 0 auto;
  background-color: #efefef;
}
body #container {
  -moz-box-shadow: #d4d3c9 0 -29px 25px 1px;
  -webkit-box-shadow: #d4d3c9 0 -29px 25px 1px;
  -o-box-shadow: #d4d3c9 0 -29px 25px 1px;
  box-shadow: #d4d3c9 0 -29px 25px 1px;
  text-align: justify;
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  font-size: 0.9em;
  color: #444444;
}

#pre_header {
  background-image: url("/images/back_menu_language.png");
  height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
#pre_header a {
  color: #5e73a3;
  text-decoration: none;
  font-size: .8em;
}
#pre_header a:hover {
  color: white;
}
#pre_header #menu_language li {
  display: inline;
  list-style: none;
  padding-left: 10px;
}
#pre_header #signin {
  text-align: right;
}

#menu {
  background-image: url("/images/back_menu.png");
  height: 89px;
  text-align: center;
  text-transform: uppercase;
}
#menu ul {
  margin-left: 25px;
  padding-top: 34px;
}
#menu li {
  display: inline;
  list-style: none;
}
#menu li#index a {
  padding-left: 35px;
  padding-right: 34px;
}
#menu a {
  color: #cccccc;
  text-decoration: none;
  padding: 35px 20px 40px;
}
#menu a:hover {
  background-image: url("/images/hover.png");
  background-repeat: no-repeat;
  color: white;
}
#menu .current_page_item {
  background-image: url("/images/current_page.png");
  background-repeat: no-repeat;
  color: white;
  margin-left: -5px;
  margin-right: -5px;
}

#main {
  background-color: #f5f5f5;
}
#main h1 {
  font-size: 2.5em;
  text-align: center;
}
#main #header {
  background-color: white;
  background-image: url("/images/bottom_header.png");
  background-position: center bottom;
  background-repeat: repeat-x;
  padding-top: 2em;
  height: 26em;
}
#main #header #header_photo {
  background-color: #ccc;
  height: 20em;
  margin-bottom: 2em;
}
#main #header h1 {
  text-align: center;
  font-size: 1.3em;
}
#main #home {
  margin-top: 2em;
  padding-bottom: 5em;
}
#main #home h2 {
  text-align: center;
  margin-bottom: 1em;
  text-shadow: white 2px 1px 0;
}
#main #home h2 a {
  font-family: "Hoefler Text", "Garamond", "Times", serif;
  text-decoration: none;
  color: #444444;
  font-size: 2em;
}
#main #home h2 a:hover {
  color: #1f2c47;
}
#main #home .services_block {
  margin-top: 5em;
  margin-left: 4em;
}
#main #home #chinese_wrap {
  padding-bottom: 40px;
}
#main #home #chinese_wrap #chinese_text {
  -moz-box-shadow: #444444 0 0 5px 1px;
  -webkit-box-shadow: #444444 0 0 5px 1px;
  -o-box-shadow: #444444 0 0 5px 1px;
  box-shadow: #444444 0 0 5px 1px;
  background-color: white;
  border: 5px solid #CCCCCC;
  padding: 43px 30px 100px 60px;
  position: relative;
}
#main #home #chinese_wrap #chinese_text p {
  font-size: 1.4em;
}
#main #home #chinese_wrap #chinese_text .ribbon {
  background-image: url("/images/ribbon.png");
  background-repeat: no-repeat;
  height: 10em;
  margin-left: -5.2em;
  margin-top: -14.3em;
  position: relative;
  width: 9em;
  z-index: 1000;
}
#main #home #chinese_wrap #chinese_text .tooltip {
  color: #444444;
  text-decoration: none;
  position: relative;
}
#main #home #chinese_wrap #chinese_text .tooltip span {
  background-image: url("/images/back_tooltip.png");
  background-repeat: no-repeat;
  font-size: .9em;
  color: #cccccc;
  margin-left: -999em;
  margin-top: -227px;
  position: absolute;
}
#main #home #chinese_wrap #chinese_text .tooltip span p {
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  color: white;
  text-shadow: none;
  margin-bottom: 3px;
  text-align: center;
}
#main #home #chinese_wrap #chinese_text .tooltip:hover span {
  position: absolute;
  z-index: 99;
  margin-left: 430px;
  height: 130px;
  width: 302px;
  padding: 10px;
}
#main #home #news_area {
  background-image: url("/images/back_news.jpg");
  height: 10em;
  padding-top: 4em;
  text-align: center;
}
#main #home #news_area h3 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 30px;
  margin-right: 4em;
  margin-top: -43px;
  text-align: right;
  text-shadow: none;
}
#main #home #news_area li {
  list-style: none;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
#main #home #news_area a {
  text-decoration: none;
  color: #444444;
}
#main #home #news_area a:hover {
  color: #5e73a3;
}
#main #aboutus {
  padding-top: 3em;
  padding-bottom: 5em;
}
#main #aboutus #header_aboutus {
  margin-top: 2em;
}
#main #aboutus #header_aboutus #aboutus_photo {
  background-color: #666;
  height: 15em;
  margin-bottom: 2em;
}
#main #aboutus #header_aboutus p {
  font-size: 1.3em;
  color: #5e73a3;
}
#main #aboutus .block {
  margin-left: 2em;
  margin-top: 4em;
}
#main #services {
  padding-bottom: 5em;
}
#main #services h2 {
  font-size: 2em;
  text-align: center;
  color: #1f2c47;
  font-family: "Hoefler Text", "Garamond", "Times", serif;
  margin-bottom: 1em;
}
#main #services h2 + p {
  font-size: 1.1em;
  margin-bottom: 3em;
}
#main #services h3 {
  margin-bottom: 1em;
  font-size: 1.1em;
}
#main #services ul {
  margin-left: 2em;
  margin-bottom: 2em;
}
#main #services li {
  list-style-image: url("/images/dot.png");
  padding-bottom: 1.5em;
}
#main #services li.links a {
  color: #444444;
  text-decoration: none;
}
#main #services li.links a:hover {
  color: #5e73a3;
}
#main #services #btn_fiscal {
  text-align: right;
}
#main #services #btn_fiscal a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #services #btn_fiscal a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #services #btn_laboral {
  text-align: right;
}
#main #services #btn_laboral a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #services #btn_laboral a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #services #btn_contable {
  text-align: right;
}
#main #services #btn_contable a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #services #btn_contable a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #services #btn_juridico {
  text-align: right;
}
#main #services #btn_juridico a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #services #btn_juridico a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #services #btn_auditoria {
  text-align: right;
}
#main #services #btn_auditoria a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #services #btn_auditoria a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #services #btn_otros {
  text-align: right;
}
#main #services #btn_otros a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #services #btn_otros a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #services_menu {
  background-image: url("/images/back_services_menu.png");
  background-color: white;
  background-repeat: repeat-x;
  text-align: center;
  height: 53px;
  padding-top: 35px;
  margin-bottom: 90px;
  margin-top: 15px;
}
#main #services_menu li {
  display: inline;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}
#main #services_menu li.services {
  color: #1f2c47;
  font-size: 1.5em;
  margin-right: 15px;
}
#main #services_menu a {
  color: #444444;
  text-decoration: none;
  padding: 5px;
}
#main #services_menu a:hover {
  background-color: #1f2c47;
  color: white;
}
#main #info {
  font-size: 0.9em;
}
#main #info h1 {
  text-align: center;
  font-size: 3em;
}
#main #info h2 {
  font-size: 1.1em;
}
#main #info h3 {
  text-shadow: white 2px 1px 0;
  font-family: "Hoefler Text", "Garamond", "Times", serif;
  font-size: 2.5em;
  text-align: center;
  color: #1f2c47;
  margin-bottom: 15px;
}
#main #info .first_p {
  text-shadow: white 2px 1px 0;
  color: #1F2C47;
  font-size: 1.3em;
}
#main #info .services_areas {
  padding: 30px 25px 30px 50px;
}
#main #info .services_areas a {
  color: #444444;
  text-decoration: none;
}
#main #info .services_areas a:hover {
  color: #596d9c;
}
#main #info #chinese_wrap {
  padding-bottom: 40px;
}
#main #info #chinese_wrap #chinese_text {
  -moz-box-shadow: #444444 0 0 5px 1px;
  -webkit-box-shadow: #444444 0 0 5px 1px;
  -o-box-shadow: #444444 0 0 5px 1px;
  box-shadow: #444444 0 0 5px 1px;
  background-color: white;
  border: 5px solid #cccccc;
  height: 90px;
  position: relative;
  padding: 40px 30px 40px 60px;
}
#main #info #chinese_wrap #chinese_text p {
  font-size: 1.4em;
}
#main #info #chinese_wrap #chinese_text .ribbon {
  background-image: url("/images/ribbon.png");
  background-repeat: no-repeat;
  margin-left: -70px;
  margin-top: -150px;
  z-index: 1000;
  position: relative;
  height: 134px;
  width: 122px;
}
#main #info #chinese_wrap #chinese_text .tooltip {
  color: #444444;
  text-decoration: none;
  position: relative;
}
#main #info #chinese_wrap #chinese_text .tooltip span {
  background-image: url("/images/back_tooltip.png");
  background-repeat: no-repeat;
  font-size: .9em;
  color: #cccccc;
  margin-left: -999em;
  margin-top: -227px;
  position: absolute;
}
#main #info #chinese_wrap #chinese_text .tooltip span p {
  font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  color: white;
  text-shadow: none;
  margin-bottom: 3px;
  text-align: center;
}
#main #info #chinese_wrap #chinese_text .tooltip:hover span {
  position: absolute;
  z-index: 99;
  margin-left: 430px;
  height: 130px;
  width: 302px;
  padding: 10px;
}
#main #info #news_area {
  background-image: url("/images/back_news.jpg");
  height: 137px;
  padding-top: 66px;
  text-align: center;
}
#main #info #news_area h3 {
  color: white;
  text-align: right;
  text-shadow: none;
  margin-right: 77px;
  margin-top: -43px;
  margin-bottom: 30px;
}
#main #info #news_area li {
  list-style: none;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
#main #info #news_area a {
  text-decoration: none;
  color: #444444;
}
#main #info #news_area a:hover {
  color: #5e73a3;
}
#main #info #us {
  margin-bottom: 10em;
}
#main #info #us #p_photo {
  background-color: white;
  height: 185px;
}
#main #info #us .block1, #main #info #us .block2 {
  margin-left: 32px;
}
#main #info #us .first_p {
  border-top: 10px solid #DEDEDE;
  font-size: 1.5em;
  color: #343b5c;
  padding-bottom: 1em;
  padding-top: 3em;
}
#main #info .services_list h4 {
  color: #666;
  font-family: "Hoefler Text", "Garamond", "Times", serif;
  font-size: 1.3em;
  margin-bottom: 20px;
}
#main #info .services_list ul {
  margin-left: 15px;
  margin-top: 30px;
}
#main #info .services_list li {
  list-style-image: url("/images/dot.png");
  padding-bottom: 25px;
  font-size: 1.1em;
}
#main #info .services_list li.links a {
  color: #444444;
  text-decoration: none;
}
#main #info .services_list li.links a:hover {
  color: #5e73a3;
}
#main #info #btn_fiscal {
  text-align: right;
}
#main #info #btn_fiscal a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #info #btn_fiscal a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #info #btn_laboral {
  text-align: right;
}
#main #info #btn_laboral a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #info #btn_laboral a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #info #btn_contable {
  text-align: right;
}
#main #info #btn_contable a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #info #btn_contable a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #info #btn_juridico {
  text-align: right;
}
#main #info #btn_juridico a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #info #btn_juridico a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #info #btn_auditoria {
  text-align: right;
}
#main #info #btn_auditoria a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #info #btn_auditoria a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #info #btn_otros {
  text-align: right;
}
#main #info #btn_otros a {
  background-image: url("/images/back_up_button.png");
  background-position: -1px 3px;
  background-repeat: no-repeat;
  margin-right: 29px;
  padding-top: 40px;
  color: #999;
  text-decoration: none;
}
#main #info #btn_otros a:hover {
  background-image: url("/images/back_up_button.png");
  background-position: -1px -56px;
  background-repeat: no-repeat;
  color: #1f2c47;
}
#main #info #news {
  padding-top: 20px;
}
#main #info #news .block1 {
  background-color: #ececec;
  padding: 1em 1em 0 2em;
  margin-bottom: 120px;
  border-bottom: 8px solid #dedede;
}
#main #info #news .block1 h2 {
  font-size: 3em;
  padding-bottom: 6px;
  padding-top: 10px;
  color: black;
  font-family: "Hoefler Text", "Garamond", "Times", serif;
}
#main #info #news .block1 .image {
  margin-top: 20px;
  padding-right: 10px;
}
#main #info #news .block1 .image img {
  border: 5px solid #DEDEDE;
}
#main #info #news .block1 .news_content_image, #main #info #news .block1 .news_content {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
}
#main #info #news .block1 .news_content_image p, #main #info #news .block1 .news_content p {
  text-shadow: none;
  font-size: .9em;
  font-style: normal;
  text-align: justify;
  line-height: 2em;
}
#main #info #news .block1 .date {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  text-align: center;
  color: #666;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 500px;
}
#main #info .contact_info {
  background-image: url("/images/back_contactinfo.jpg");
  height: 307px;
  padding-top: 58px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  margin-bottom: 5em;
}
#main #info .contact_info a {
  color: #F9E19A;
  text-decoration: none;
}
#main #info .contact_info a:hover {
  color: white;
}
#main #info .contact_info #address {
  margin-top: -29px;
  margin-bottom: 15px;
  padding: 5px 10px;
}
#main #info .contact_info #address img {
  margin-bottom: -15px;
}
#main #info .contact_info #address span {
  margin-left: 35px;
}
#main #info .contact_info .phone {
  margin-top: -24px;
  margin-bottom: 15px;
  padding: 5px 10px 10px;
}
#main #info .contact_info .phone img {
  margin-bottom: -6px;
  margin-right: 5px;
}
#main #info .contact_info .mail {
  margin-top: -24px;
  margin-bottom: 15px;
  padding: 5px 10px 10px;
}
#main #info .contact_info .mail img {
  margin-bottom: -6px;
  margin-right: 5px;
}
#main #info .contact_info #fax {
  margin-top: -24px;
  margin-bottom: 15px;
  padding: 5px 10px 10px;
}
#main #info .contact_info #fax img {
  margin-bottom: -6px;
  margin-right: 5px;
}
#main #info #map_canvas {
  height: 350px;
  margin-top: 2px;
  margin-left: 25px;
}

#footer {
  background-image: url("/images/back_footer.png");
  font-size: 0.9em;
  height: 284px;
  padding-top: 30px;
  color: white;
}
#footer h2 {
  font-family: "Hoefler Text", "Garamond", "Times", serif;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 2.5em;
  color: #f9e19a;
  margin-bottom: 20px;
}
#footer li {
  list-style: none;
  padding: 3px 9px;
  margin-bottom: 5px;
}
#footer a {
  color: white;
  text-decoration: none;
}
#footer a:hover {
  color: #f9e19a;
}
#footer .contact_info {
  margin-right: 50px;
}
#footer .footer_menu {
  margin-right: 55px;
}
#footer .footer_services {
  margin-right: 55px;
}
#footer #address {
  margin-left: 30px;
  margin-top: -24px;
}
#footer .mail {
  margin-left: 30px;
  margin-top: -24px;
}
#footer #fax {
  margin-left: 30px;
  margin-top: -24px;
}
#footer img {
  margin-top: 5px;
}
