%p=t("address", :scope => "footer")

%ul
  %li=t("cellphone", :scope => "footer")
  %li=t("phone", :scope => "footer")
  %li=t("fax", :scope => "footer")
  %li=t("mail", :scope => "footer")

%p=t("itnig", :scope => "footer")
