%ul
  %li Tel. 93.407.22.02
  %li Fax. 93.420.74.29
  %li Fabra i Pug 267-269. 08031 Bcn
  
#mail
  = mail_to 'info@nova-gestion.cat', nil, :encode => :hex

.clear

%a{:href => "http://itnig.net/", :title => "Itnig"}= t "itnig"