%ul
  %li= section_link_to t(:home, :scope => "menu"), root_path
  %li= section_link_to t(:aboutus, :scope => "menu"), particular_path
  %li= section_link_to t(:seguros, :scope => "menu"), seguros_path
  %li= section_link_to t(:contact, :scope => "menu"), contact_path
