%ul
  %li=t("uno", :scope => "menu")
  %li=t("dos", :scope => "menu")
  %li=t("tres", :scope => "menu")

%ul
  %li=t("cuatro", :scope => "menu")
  %li=t("cinco", :scope => "menu")

%ul
  %li=t("seis", :scope => "menu")
  %li=t("siete", :scope => "menu")