#zapatitos
  .btn.four_col
    %a{:href => "collection_spring_summer"}
      %h2=t "catalog1", :scope => ("menu_collection")

  .btn.four_col
    %a{:href => "collection_fall_winter"}
      %h2=t "catalog2", :scope => ("menu_collection")

  .btn.four_col
    %a{:href => "collection_taygra"}
      %h2=t "catalog3", :scope => ("menu_collection")
