#menu
  %ul
    %li= section_link_to t(:home, :scope => "menu"), root_path
    %li= section_link_to t(:areas_of_practice, :scope => "menu"), especialidades_path
    %li= section_link_to t(:query, :scope => "menu"), consulta_path
    %li= section_link_to t(:contact, :scope => "menu"), contacto_path