%ul
  %li= section_link_to t(:home, :scope => "menu"), root_path
  %li= section_link_to t(:services, :scope => "menu"), servicios_path
  %li= section_link_to t(:news, :scope => "menu"), noticias_path
  %li= section_link_to t(:contact, :scope => "menu"), contacto_path
