%h1 Listing concerts

%table
  %tr
    %th Data 
    %th Població
    %th Lloc
    %th Acte
    %th
    %th
    %th

  - @concerts.each do |concert|
    %tr
      %td= concert.date.strftime('%d/%m/%Y %k:%M')
      %td= concert.city
      %td= concert.place
      %td= concert.event
%br