%h2 Llistat d'àlbums

- @albums.each do |album|
  %table
    %tr
      %td= image_tag album.image_url(:thumb).to_s
      %td
        %div
          %div 
            %h4
              =album.title
          %hr
          %div= album.body
  %strong Temes
  %ol
    = render :partial => 'tracks', :locals => { :album => album }

%br