= title (t ".title")

%h2 Discografia 

- @albums.each do |album|
  %table
    %tr
      %td= image_tag album.image_url(:cover).to_s
      %td
        %div
          %div 
            %h4
              =album.title
          %hr
          .alb_body= album.body
  = render :partial => 'tracks', :locals => { :album => album }

%br