- unless @post.new_record?
  =render "asset-picker"
= simple_form_for [:admin, @post] do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  =f.input :title, :label => "Title"
  - unless @post.new_record?
    =f.input :body, :label => "Body", :input_html => { :class => "editor" }
    #pseudodroppable <!-- Needed for image drag and drop -->
    =f.input :published, :label => "Publish it"
  =f.button :submit, @post.new_record? ? "Crear" : "Actualitzar", :id => "editor-button"
