= simple_form_for [:admin, @post] do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  =render "asset-picker"
  =f.input :title, :label => "Title"
  =f.input :body, :label => "Body", :input_html => { :class => "editor" }
  =f.input :published, :label => "Publish?"
  =f.button :submit, @post.new_record? ? "Crear" : "Actualitzar"
