- unless @post.new_record?
  =render "admin/shared/asset-picker", :owner => @post
= simple_form_for [:admin, @post] do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "No s'ha pogut guardar l'entrada degut a #{pluralize(@post.errors.count, "error")}:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  =f.input :title, :label => "Títol"
  - unless @post.new_record?
    =f.input :body, :label => "Contingut", :input_html => { :class => "editor" }
    #pseudodroppable <!-- Needed for image drag and drop -->
    =f.input :published, :label => "Publicar"
  =f.button :submit, @post.new_record? ? "Crear" : "Actualitzar", :id => "editor-button"
