-#%p#notice= notice

%li
  %b= track.name

  = link_to 'Editar', edit_admin_album_track_path(@album,track)
  \|
  = link_to 'Eliminar', admin_album_track_path(@album,track), :method => :delete, :class => "delete", :confirm => "N'estas segur?"
