<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<h2>Administradores</h2>

<div id="promotion_icon"></div>
<div id="promotion">
  <p> En breve tendremos <strong>a disposición de los administradores</strong> un <strong>programa</strong> de puntos <strong>para poder beneficiarse</strong> de estupendos <strong>regalos</strong>.</p>
</div>

<div class="separator_2"></div>
