= title t(".title")
%h1
  = t ".subtitle"
%p
  = raw t ".line1"
%p
  = raw t ".line2"

.image
  %img{:alt => "ejemplo de altillos", :src => "/images/pic2.jpg"}
  
.image
  %img{:alt => "ejemplo de altillos", :src => "/images/pic3.jpg"}
