= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = t ".line2"

%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "toldo brazos articulados", :src => "/images/brazos1.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "toldo brazos articulados", :src => "/images/brazos3.jpg"}/