= title t(".title")

%p=t ".first_paragraph_html"

%ul
  %li=t ".subtitle1"
  %li=t ".subtitle2"
  %li=t ".subtitle3"
  %li=t ".subtitle4"
  %li=t ".subtitle5"
  %li=t ".subtitle6"
  %li=t ".subtitle7"
  %li=t ".subtitle8"
