= title t(".title")

#title
  %h1=t ".zapatitos"


#zapatitos
  = render :partial => 'shared/menu_collection'

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/fdae138.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/cc2ae20.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/c71406b.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/a303b76.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/972298e.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/329088d.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/90269f0.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/82321f5.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/676ae41.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/601cf91.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/280f4e2.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/98bcd14.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/97aba9f.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/37b3c41.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/27d9c9c.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/7b5379f.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/4a39def.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/1d6eafe.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/4086d47.jpg"}/
  .clear



#up_button
  %a{:href => "#zapatitos"} Subir


- content_for :info_box do
  = render 'shared/zapatitos'
