= title t(".title")

#title
  %h1=t ".zapatitos"


#zapatitos

  = render :partial => 'shared/menu_collection'

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/terciopelo1.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/potro2.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/potro1.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/pana.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/DSC_0076.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/DSC_0041.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/DSC_0036.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/DSC_0027.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/bota3.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/astra5.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/astra1.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/45_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/39_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/37_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/36_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/34_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/32_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/26_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/25_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/21_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/09.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/42_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/27_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/23_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/22_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/20_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/19_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/18_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/15_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/14_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/13_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/12_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/11_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/10_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/08_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/07_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/06_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/05_resize.JPG"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/04_resize.JPG"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/02_resize.JPG"}/

  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "http://zapatitos.s3.amazonaws.com/winter/01_resize.JPG"}/
  .clear


#up_button
  %a{:href => "#"} Subir


- content_for :info_box do
  = render 'shared/zapatitos'
