= title t(".title")

#title
  %h1=t ".zapatitos"


#zapatitos

  = render :partial => 'shared/menu_collection'

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/terciopelo1.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/potro2.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/potro1.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/pana.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/DSC_0076.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/DSC_0041.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/DSC_0036.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/DSC_0027.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/bota3.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/astra5.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/astra1.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/45_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/39_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/37_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/36_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/34_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/32_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/26_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/25_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/21_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/09.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/42_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/27_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/23_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/22_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/20_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/19_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/18_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/15_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/14_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/13_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/12_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/11_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/10_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/08_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/07_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/06_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/05_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/04_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/02_resize.jpg"}/

  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/winter/01_resize.jpg"}/
  .clear


#up_button
  %a{:href => "#"} Subir


- content_for :info_box do
  = render 'shared/zapatitos'
