= title t(".title")

#title
  %h1=t ".zapatitos"


#zapatitos
  = render :partial => 'shared/menu_collection'

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/oro-blanco.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2oro-blanco.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/marrón-azul.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2marrón-azul.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/gris-marino.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2gris-marino.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/plata-marino.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2plata-marino.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/gris-vino.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2gris-vino.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/marrón-beig.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2marrón-beig.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/marrón-rosa.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2marron-rosa.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/marron-azul.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2marron-azul.jpg"}/
  .clear
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/rosa-blanco.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2rosa-blanco.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/negro-plato.jpg"}/
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2negro-plata.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/marron-blanco.jpg"}/
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2marron-blanco.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/negra-lisa.jpg"}/
  
  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/2gris-negra.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/taygra/1-flexibles.jpg"}/
  
  .clear
  

#up_button
  %a{:href => "#"} Subir


- content_for :info_box do
  = render 'shared/zapatitos'
