= title t(".title")

#title
  %h1=t ".zapatitos"


#zapatitos
  = render :partial => 'shared/menu_collection'

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0081.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0083.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0763_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0770_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0776_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0778_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/foto 11.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/foto 15.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0141.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0155.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0130.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0744_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0150.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0759_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0740_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0743_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0752_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0742_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0757_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0796_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0793_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0722_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0731_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0070.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0062.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0064.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0783_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/zueco2.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/zueco3.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/s18.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/s16.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/s13.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/s9.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/lonas4.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/foto 13.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/foto 12.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0090.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0695_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0691_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0687_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0686_resize.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0692_resize.jpg"}/
  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0090.jpg"}/

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0685_resize.jpg"}/

  .clear

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/summer/DSC_0788_resize.jpg"}/
  .clear


#up_button
  %a{:href => "#"} Subir


- content_for :info_box do
  = render 'shared/zapatitos'
