<%= title t(".title") %>

<div id="contact">
  <h1><%=t(".subtitle") %></h1>

  <div id="contact_info">
    <div id="address">
      <img src="/images/house.png" alt="Casa"/>
      Carrer Ausiàs Marc 49, Despatx 18
      <p>Planta 3ra. Barcelona</p>
    </div>

    <div class="phone">
      <img src="/images/phone.png" alt="teléfono"/>
      93.244.80.59
    </div>

    <div id="fax">
      <img src="/images/fax.png" alt="fax"/>
      93.244.82.20
    </div>

    <div class="mail">
      <img src="/images/mail.png" alt="mail"/>
      <%= mail_to 'dra@drassociats.es', nil, :encode => :hex%>
    </div>

	</div>

  <div id="map_canvas"></div>

  <div class="clear"></div>

</div>

<%= content_for :custom_js do %>
  <script type="text/javascript">
    initializeMaps()
  </script>
<% end %>
