= title t(".title")

%p=t ".first_paragraph_html"

%ul
  %li=t ".area_list1"
  %li=t ".area_list2"
  %li=t ".area_list3"
  %li=t ".area_list4"
  %li=t ".area_list5"
  %li=t ".area_list6"
  %li=t ".area_list7"
  %li=t ".area_list8"
  %li=t ".area_list9"
  %li=t ".area_list10"

