= title t(".title")

%p=t ".first_paragraph_html"
.separator
%p=t ".paragraph1_html"

.separator
.wrap.one_second
  %h3=t ".services"
  %p=t ".services_paragraph_html"

  %ul
    %li=t ".service_list1"
    %li=t ".service_list2"
    %li=t ".service_list3"
    %li=t ".service_list4"

.wrap2.one_second
  %h3=t ".compromise"
  %p=t ".compromise_paragraph_html"

.clear