= title t(".title")

#title
  %h1= t ".links"

#links
  %h2=t ".link_title1"
  %p
    %a{:href => "http://itnig.net/", :title => t('.itnig')}= t('.itnig')


- content_for :info_box do
  = render 'shared/reseller_side'
