= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
  
%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "mallorquinas", :src => "/images/mallorquinas.jpg"}/
    %li
      %a{:href => "#pic2"}
        %img.thumbnail{:alt => "mallorquinas", :src => "/images/mallorquinas2.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "mallorquinas", :src => "/images/mallorquinas3.jpg"}/
    %li
      %a{:href => "#pic2"}
        %img.thumbnail{:alt => "mallorquinas", :src => "/images/mallorquinas4.jpg"}/
