= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "mando distancia normal", :src => "/images/mando_distancia_normal.jpg"}/