= title t(".title")

%h1
  = t ".subtitle"

%p
  = t ".line1"

%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "Marquesinas", :src => "/images/marquesina1.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "Marquesinas", :src => "/images/marquesina2.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "Marquesinas", :src => "/images/marquesina3.jpg"}/