= title t(".title")

#title
  %h1= t ".news"

#news
  %img{:alt => "zapatitos", :src => "/images/taygra_shoes2.png"}/
  %p.date=t ".date1_html"
  %h2=t ".title_news1"
  %p=t ".news1_html"

  .separation_line

  %img{:alt => "zapatitos", :src => "/images/ibiza_store.png"}/
  %p.date=t ".date2_html"
  %h2=t ".title_news2"
  %p=t ".news2_html"

  .separation_line

  %img{:alt => "zapatitos", :src => "/images/index_season.png"}/
  %p.date=t ".date3_html"
  %h2=t ".title_news3"
  %p=t ".news3_html"


#up_button
  %a{:href => "#news"} Subir

- content_for :info_box do
  = render 'shared/news_side'
