= title t(".title")

#title
  %h1= t ".news"

#news
  %img{:alt => "zapatitos", :src => "/images/taygra_shoes2.png"}/
  %p.date=t ".date1_html"
  %h2=t ".title_news1"
  %p=t ".news1_html"


#up_button
  %a{:href => "#"} Subir

- content_for :info_box do
  = render 'shared/news_side'
