<%= title t(".title") %>

<div id="news">
  <h1><%=t(".subtitle") %></h1>

  <div class="block1">
    <h2>Titulo de la noticia</h2>
    <div class="image">
      <img src="/images/imagen1.png" />
    </div>
    <div class="news_content_image">
      <p>
        I create custom designs for websites, interfaces and webapps based on your requirements & preferences.
        I’m experienced in print and identity design too.I create custom designs for websites, interfaces and webapps based on your requirements & preferences.
        I’m experienced in print and identity design too.I create custom designs for websites, interfaces and webapps based on your requirements & preI create custom designs
      </p>
    </div>
    <div class="clear"></div>
    <div class="date"><p> Fecha: 17 / 12 / 2009</p></div>
  </div>

  <div class="block1">
    <h2>Titulo de la noticia</h2>
    <div class="news_content">
      <p>
        I create custom designs for websites, interfaces and webapps based on your requirements & preferences.
        I’m experienced in print and identity design too.I create custom designs for websites, interfaces and webapps based on your requirements & preferences.
        I’m experienced in print and identity design too.I create custom designs for websites, interfaces and webapps based on your requirements & preI create custom designs
      </p>
    </div>
    <div class="clear"></div>
    <div class="date"><p> Fecha: 17 / 12 / 2009</p></div>
  </div>

  <div class="block1">
    <h2>Titulo de la noticia</h2>
    <div class="image">
      <img src="/images/imagen1.png" />
    </div>
    <div class="news_content_image">
      <p>
        I create custom designs for websites, interfaces and webapps based on your requirements & preferences.
        I’m experienced in print and identity design too.I create custom designs for websites, interfaces and webapps based on your requirements & preferences.
        I’m experienced in print and identity design too.I create custom designs for websites, interfaces and webapps based on your requirements & preI create custom designs
      </p>
    </div>
    <div class="clear"></div>
    <div class="date"><p> Fecha: 17 / 12 / 2009</p></div>
  </div>

</div>

