- title t(".title")

%h3
  = t ".subtitle"

%p
  =t ".paragraph1_html"

%ul
  %li=t ".sub_service1"
  %li=t ".sub_service2"
  %li=t ".sub_service3"
  %li=t ".sub_service4"
  %li=t ".sub_service5"
  %li=t ".sub_service6"
  %li=t ".sub_service7"
  %li=t ".sub_service8"

- content_for :info_box do
  = render 'shared/seguros'