= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = t ".line2"
%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "porticon", :src => "/images/porticon.jpg"}/