= title t(".title")

#title
  %h1= t ".press"

#press
  %h2=t ".subtitle1"
  %ul
    %li=t ".link1"
    %li=t ".link2"
    %li=t ".link3"
    %li=t ".link4"
    %li=t ".link5"
    %li=t ".link6"
    %li=t ".link7"
    %li=t ".link8"
    %li=t ".link9"
    %li=t ".link10"
    %li=t ".link11"
    %li=t ".link12"
    %li=t ".link13"
    %li=t ".link14"
    %li=t ".link15"
    %li=t ".link16"

  .separation_line

  %h2=t ".subtitle2"

  .wrap.four_col
    %h2=t ".name_magazine1"
    %p=t ".date_html1"
    %p=t ".magazine_caption_html1"
    .image
      %img{:alt => "taygra deportivas", :src => "/images/vogue1.png"}/
      <a href="<%= # %>">más</a>
  .wrap.four_col
    %h2=t ".name_magazine2"
    %p=t ".date_html2"
    %p=t ".magazine_caption_html2"
    .image
      %img{:alt => "taygra deportivas", :src => "/images/hola1.png"}/
      <a href="<%= # %>">más</a>
  .wrap.four_col
    %h2=t ".name_magazine3"
    %p=t ".date_html3"
    %p=t ".magazine_caption_html3"
    .image
      %img{:alt => "taygra deportivas", :src => "/images/telva1.png"}/
      <a href="<%= # %>">más</a>
  .clear

  .wrap.four_col
    %h2=t ".name_magazine1"
    %p=t ".date_html1"
    %p=t ".magazine_caption_html1"
    .image
      %img{:alt => "taygra deportivas", :src => "/images/magazine1.png"}/
      <a href="<%= # %>">más</a>
  .wrap.four_col
    %h2=t ".name_magazine2"
    %p=t ".date_html2"
    %p=t ".magazine_caption_html2"
    .image
      %img{:alt => "taygra deportivas", :src => "/images/vogue2.png"}/
      <a href="<%= # %>">más</a>
  .wrap.four_col
    %h2=t ".name_magazine3"
    %p=t ".date_html3"
    %p=t ".magazine_caption_html3"
    .image
      %img{:alt => "taygra deportivas", :src => "/images/hola2.png"}/
      <a href="<%= # %>">más</a>
  .clear

  .wrap.four_col
    %h2=t ".name_magazine1"
    %p=t ".date_html1"
    %p=t ".magazine_caption_html1"
    .image
      %img{:alt => "taygra deportivas", :src => "/images/vogue3.png"}/
      <a href="<%= # %>">más</a>
  .wrap.four_col
    %h2=t ".name_magazine2"
    %p=t ".date_html2"
    %p=t ".magazine_caption_html2"
    .image
      %img{:alt => "taygra deportivas", :src => "/images/vogue4.png"}/
      <a href="<%= # %>">más</a>
  .wrap.four_col
    %h2=t ".name_magazine3"
    %p=t ".date_html3"
    %p=t ".magazine_caption_html3"
    .image
      %img{:alt => "taygra deportivas", :src => "/images/vogue5.png"}/
      <a href="<%= # %>">más</a>
  .clear


- content_for :info_box do
  = render 'shared/questionaire_press'
