= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  =  t ".line2"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "reja ballesta", :src => "/images/reja_ballesta1.jpg"}/
    %li
      %img.thumbnail{:alt => "reja ballesta", :src => "/images/reja_ballesta2.jpg"}/