= title t(".title")
%h1
  = t ".subtitle"
  
%p
  = t ".line1"

%p
  = t ".line2"
  
%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "Picture 1", :src => "/images/reformas_th1.jpg"}/
    %li
      %a{:href => "#pic2"}
        %img.thumbnail{:alt => "Picture 2", :src => "/images/reformas_th2.jpg"}/
    %li
      %a{:href => "#pic3"}
        %img.thumbnail{:alt => "Picture 3", :src => "/images/reformas_th3.jpg"}/
    %li
      %a{:href => "#pic4"}
        %img.thumbnail{:alt => "Picture 4", :src => "/images/reformas_th4.jpg"}/
    %li
      %a{:href => "#pic5"}
        %img.thumbnail{:alt => "Picture 5", :src => "/images/reformas_th5.jpg"}/
    %li
      %a{:href => "#pic6"}
        %img.thumbnail{:alt => "Picture 6", :src => "/images/reformas_th6.jpg"}/
    %li
      %a{:href => "#pic7"}
        %img.thumbnail{:alt => "Picture 7", :src => "/images/reformas_th7.jpg"}/
    %li
      %a{:href => "#pic8"}
        %img.thumbnail{:alt => "Picture 8", :src => "/images/reformas_th8.jpg"}/
    %li
      %a{:href => "#pic9"}
        %img.thumbnail{:alt => "Picture 9", :src => "/images/reformas_th9.jpg"}/
    %li
      %a{:href => "#pic10"}
        %img.thumbnail{:alt => "Picture 10", :src => "/images/reformas_th10.jpg"}/
    %li
      %a{:href => "#pic11"}
        %img.thumbnail{:alt => "Picture 11", :src => "/images/reformas_th11.jpg"}/
    %li
      %a{:href => "#pic12"}
        %img.thumbnail{:alt => "Picture 12", :src => "/images/reformas_th12.jpg"}/
    %li
      %a{:href => "#pic13"}
        %img.thumbnail{:alt => "Picture 13", :src => "/images/reformas_th13.jpg"}/
    %li
      %a{:href => "#pic14"}
        %img.thumbnail{:alt => "Picture 14", :src => "/images/reformas_th14.jpg"}/
    %li
      %a{:href => "#pic15"}
        %img.thumbnail{:alt => "Picture 15", :src => "/images/reformas_th15.jpg"}/
    %li
      %a{:href => "#pic16"}
        %img.thumbnail{:alt => "Picture 16", :src => "/images/reformas_th16.jpg"}/
    %li
      %a{:href => "#pic17"}
        %img.thumbnail{:alt => "Picture 17", :src => "/images/reformas_th17.jpg"}/
    %li
      %a{:href => "#pic18"}
        %img.thumbnail{:alt => "Picture 18", :src => "/images/reformas_th18.jpg"}/
    %li
      %a{:href => "#pic19"}
        %img.thumbnail{:alt => "Picture 19", :src => "/images/reformas_th19.jpg"}/
    %li
      %a{:href => "#pic20"}
        %img.thumbnail{:alt => "Picture 20", :src => "/images/reformas_th20.jpg"}/
    %li
      %a{:href => "#pic21"}
        %img.thumbnail{:alt => "Picture 21", :src => "/images/reformas_th21.jpg"}/
    %li
      %a{:href => "#pic22"}
        %img.thumbnail{:alt => "Picture 22", :src => "/images/reformas_th22.jpg"}/
    %li
      %a{:href => "#pic23"}
        %img.thumbnail{:alt => "Picture 23", :src => "/images/reformas_th23.jpg"}/
    %li
      %a{:href => "#pic24"}
        %img.thumbnail{:alt => "Picture 24", :src => "/images/reformas_th24.jpg"}/
    %li
      %a{:href => "#pic25"}
        %img.thumbnail{:alt => "Picture 25", :src => "/images/reformas_th25.jpg"}/
    %li
      %a{:href => "#pic26"}
        %img.thumbnail{:alt => "Picture 26", :src => "/images/reformas_th26.jpg"}/

%ul
  %li#pic1
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big1.jpg"}/
  %li#pic2
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big2.jpg"}/
  %li#pic3
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big3.jpg"}/
  %li#pic4
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big4.jpg"}/
  %li#pic5
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big5.jpg"}/
  %li#pic6
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big6.jpg"}/
  %li#pic7
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big7.jpg"}/
  %li#pic8
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big8.jpg"}/
  %li#pic9
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big9.jpg"}/
  %li#pic10
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big10.jpg"}/
  %li#pic11
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big11.jpg"}/
  %li#pic12
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big12.jpg"}/
  %li#pic13
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big13.jpg"}/
  %li#pic14
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big14.jpg"}/
  %li#pic15
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big15.jpg"}/
  %li#pic16
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big16.jpg"}/
  %li#pic17
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big17.jpg"}/
  %li#pic18
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big18.jpg"}/
  %li#pic19
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big19.jpg"}/
  %li#pic20
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big20.jpg"}/
  %li#pic21
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big21.jpg"}/
  %li#pic22
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big22.jpg"}/
  %li#pic23
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big23.jpg"}/
  %li#pic24
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big24.jpg"}/
  %li#pic25
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big25.jpg"}/
  %li#pic26
    %a{:href => "#"}
      %img{:alt => "", :src => "/images/reformas_big26.jpg"}/
