= title t(".title")

#title
  %h1=t ".zapatitos"

#zapatitos

  .btn.four_col
    %a{:href => "#"}
      %h2=t ".catalog1"

  .btn.four_col
    %a{:href => "#"}
      %h2=t ".catalog2"

  .btn.four_col
    %a{:href => "#"}
      %h2=t ".catalog3"

  .seven_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/photo1.png"}/
    %p=t ".descripcion1"

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/photo2.png"}/
    %p=t ".descripcion2"
  .clear

  .seven_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/photo3.png"}/
    %p=t ".descripcion3"

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/photo4.png"}/
    %p=t ".descripcion4"

  .clear

  .seven_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/photo5.png"}/
    %p=t ".descripcion5"

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/photo6.png"}/
    %p=t ".descripcion6"

  .clear

  .seven_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/photo7.png"}/
    %p=t ".descripcion7"

  .six_col
    .wrap
      %img{:alt => "zapatitos", :src => "/images/photo8.png"}/
    %p=t ".descripcion7"

  .clear

#up_button
  %a{:href => "#zapatitos"} Subir


- content_for :info_box do
  = render 'shared/aboutus_side'
