%div#comments
  %span#comments_count
    -if @post.comments.count > 0
      %p= "◕ #{pluralize(@post.comments.count, "comentari")} a l'entrada:"
  - @post.comments.each do |comment|
    = render "comments/comment", :comment => comment
%div#comment-notice
= render "comments/form"
