= title (t ".title")

-#Youtube Video
%iframe{:id=>"div-video",:width=>"560", :height=>"345", :src=>"http://www.youtube.com/embed/A0Xsf5C_v28?rel=0&amp;hd=1", :frameborder=>"0", :allowfullscreen => "true"}

%h2= t ".title"

= render :partial => @posts

= will_paginate @posts, :previous_label => "&laquo; Anterior", :next_label => "Següent &raquo;"

